*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
 background-color: rgb(174, 192, 186);
}

.card1
{
    background-color: burlywood;
    height: 70%;
    width: 70%;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.card1 h1
{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bolder;
}

.card2
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.card3
{
    margin-bottom: 30px;
}

.label
{
    font-weight: bold;
}

.inputs
{
    border-radius: 6px;
    height: 23px;
    margin-left: 10px;
}